@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-titulo-subtitulo: #02590F;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    width: 345px;
    max-width: 100%;
    max-height: 100%;
}

/*MOBILE FIRST*/

/*HEADER*/

.cabecalho-desktop {
    display: none;
}

.cabecalho-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 10px 0;
}

.hero h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 40px;
    text-transform: uppercase;
    color: var(--cor-titulo-subtitulo);
    padding: 152px 0 0 0;
    width: 294px;
}
